[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-swagger = "*"
psycopg2-binary = "*"
python-dotenv = "*"
flask-cors = "*"
gunicorn = "*"
cloudinary = "*"
flask-admin = "*"
flask-jwt-extended = "*"
apiflask = "*"
marshmallow-sqlalchemy = "*"
autopep8 = "*"

[requires]
python_version = "3.8"

[scripts]
start="flask run -p 3001 -h 0.0.0.0"
init="flask db init"
migrate="flask db migrate"
local="heroku local"
upgrade="flask db upgrade"
reset_db="bash ./docs/assets/reset_migrations.bash"
nuke_db="psql -U gitpod -c 'DROP DATABASE example;'"
create_db="psql -U gitpod -c 'CREATE DATABASE example;'"
nuke_migrate="rm ./migrations/versions/*.py"
popdb="python src/pop_db.py"
deploy="echo 'Please follow this 3 steps to deploy: https://github.com/4GeeksAcademy/flask-rest-hello/blob/master/README.md#deploy-your-website-to-heroku' "
